@charset "utf-8";
html, body {
	/*cursor: default;*/
	cursor: url("../images/01.cur"), url("/images/01.cur"), auto;
}
a {text-decoration: none; cursor: hand; color:  #336699;}
a:hover {text-decoration: none; cursor: hand; color: #FF6600;}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 200 !important;
	text-shadow: 0px 1px 1px #a2a1a1;
	color: black !important;
}
