/* CSS Document */
@charset "utf-8";

.welcome-shortcut {
	font-size: 4em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.circle {
	border-radius: 50%;
	border: 7px solid #336699;
	padding: 8px 10px 8px 10px;
	margin: 5px;
	display: inline-block;
	
	background: rgba(190, 217, 227, 0.25);
	box-shadow: 0 2px 5px rgba(0,0,0,0.3), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
.circle:hover {
	border-color: #ff6600;
}
.notification {color: #a94442;}

@media (max-width: 760px) {
	.welcome-shortcut {
		font-size: 2em;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.circle {
		padding: 8px;
	}
}
